<section>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Feedbacks</div>
                <div class="panel-body">
                    <ul class="list-unstyled clubList">
                        <li ng-click="displayVerbatim(c)"  ng-repeat="c in pages[info.currentPage].clubs">{{c.user + ""}}  {{c.score}} </li>
                    </ul>                    
                    <pager total-pages="info.totalPages" current-page="info.currentPage" page-action="navigate(pageNumber)"></pager>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="well well-sm" role="alert"> 
                <p>{{description}}</p>
                
            </div>

            <div class="alert alert-info" role="alert">
                {{status.message}}
            </div>
        </div>
    </div>
</section>